@each $fondoImagen, $url in $imagenesFondo {
    .#{$fondoImagen} {
        background-image:url($url);
    }
}
.imagen, .fondoInfo, .imagen3, .imagen4, .imagen5 {
    background-repeat: no-repeat;
     background-size: cover;
  }