.tarjetas {
    padding-block: 50px;
}

.card {
    background-image: linear-gradient(to right, rgba(0, 255, 179, 0.3), rgba(0, 0, 255, 0.3), rgba(98, 0, 255, 0.3));
    title, text{
    justify-content:center ;
    align-items: center;
 }
}